

<div class="form-container">
<!--  <div class="app-title"></div>-->
  <h2>Query Account</h2>
<!--  <hr>-->
  <form>
    <h4>mat-select</h4>
    <mat-form-field>
      <mat-label>Biller Name</mat-label>
      <mat-select [ngModel]="queryAccountInput?.partnerKey" name="billerName">
        @for (biller of billers | async; track biller.id) {
          <mat-option [value]="biller.id">{{biller.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <p>Selected PartnerKey is {{ queryAccountInput?.partnerKey }}</p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Bank Account Number</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
  </form>



  <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
</div>
