<div class="app-title mat-elevation-z1">Query Account</div>

<div class="form-container">


  <form>
    <h4>mat-select</h4>
    <mat-form-field>
      <mat-label>Favorite food</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="food">
        @for (food of foods; track food) {
          <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <p> Selected food: {{selectedValue}} </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Bank Account Number</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
  </form>



  <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
</div>
