.account-layout {
  display: flex;
  gap: 24px;
}

mat-list {
  active-indicator-color: --mat-sys-secondary-container;
  list-item-label-text-color: red;
  width: 250px;
  background: #fafafa;
  border: 1px solid #ddd;
}

.account-detail {
  flex: 1;
}
