<mat-nav-list>
<h4 mat-subheader>Accounts</h4>
<a mat-list-item href="#">Query Accounts</a>
<a mat-list-item href="#">Rejected Accounts</a>
<mat-divider/>
<h4 mat-subheader>Bills</h4>
<a mat-list-item href="#">Query Bills</a>
<a mat-list-item href="#">Rejected Bills</a>
<mat-divider/>
<h4 mat-subheader>Payments</h4>
<a mat-list-item href="#">Query Payments</a>
<a mat-list-item href="#">Rejected Payments</a>
  <mat-divider/>
  <h4 mat-subheader>Refunds</h4>
  <a mat-list-item href="#">Query Refunds</a>
  <mat-divider/>
<h4 mat-subheader>Files</h4>

<a mat-list-item href="#">Query Files</a>
<a mat-list-item href="#">UploadFiles</a>
<mat-divider/>
</mat-nav-list>
